<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Listado de personas</h1>

    <table>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="persona: ${listaPersonas}">
            <td th:text=" ${persona.idPersona}"></td>
            <td th:text=" ${persona.nombre}"></td>
            <td th:text=" ${persona.edad}"></td>
            <td>
                <a>editar</a>
                <a>eliminar</a>
            </td>
        </tr>
    </table>

<a href="/personas/nueva">Nueva persona</a>
</body>
</html>